.lead__title {
  max-width: 720px;
  text-align: center;
  align-items: center;
  font-weight: 900;
  line-height: 1.04;
  font-size: 96px;
  margin: 0 auto 32px;
}


@media (max-width: 767px) {
  .lead__title {
    font-size: 12vw;
  }
}

@media (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 1.1;
    margin: 0 auto 16px;
    
  }
}
